{% extends 'base.html' %}
{% load static %}
{% block title %}Forgot Password{% endblock %}
{% block content %}
<div class="card text-center" style="width: 500px; margin:200px auto;">
    <div class="card-header h5 text-white" style="background-color: #002D62;" >Password Reset</div>
    <div class="card-body px-5">
        <p class="card-text py-2">
            Enter your email address, and we'll email you with instructions to reset your password.
        </p>
      <form method="post">
        {% csrf_token %}
        <div class="form-outline">
          <input type="email" name="email" autocomplete="email" maxlength="254" required id="id_email" class="form-control my-3">
            <label class="form-label" for="id_email">Email input</label>
        </div>
      <button type="submit" class="btn w-100" style="background-color:#002D62; color:white;">Enter</button>
      </form>

<!--        <a href="#" class="btn btn-primary w-100">Reset password</a>-->
        <div class="d-flex justify-content-between mt-4">
            <a class="" href="{% url 'myIndex' %}">Login</a>
            <a class="" href="{% url 'mysignup' %}">Register</a>
        </div>
    </div>
</div>

{% endblock %}