{% extends 'base.html' %}
{% block title %}Password reset sent{% endblock %}
{% block content %}
{% block style %}{% endblock %}
<div class="card text-center" style="width: 800px; margin:200px auto; padding:35px; background-color:#E5E5E5;" >
  <h1>Password reset sent</h1>
  <p style="color:black; padding:20px;" class="font-weight-bold">We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
</div>

{% endblock %}