<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post">
    {% csrf_token %}
      <input type="text" name="fn" value="{{ob.first_name}}"> <br>
      <input type="text" name="ln" value="{{ob.last_name}}"><br>
      <input type="text" name="e" value="{{ob.email}}"><br>
      <input type="text" name="a" value="{{ob.age}}"><br>
      <input type="text" name="p" value="{{ob.phone}}"><br>
      <input type="text" name="add" value="{{ob.address}}"><br>
      <input type="hidden" name="i" value="{{ob.id}}"><br>
      <button type="submit">update</button><br>
</form>
</body>
</html>